html { 

}

body {
	font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-seperator {
	padding-top: 20px;
}

.sidebar {
	padding-top: 25px;
	padding-bottom: 25px;
	height: 100vh;

}

.profile-pic-wrapper{
	text-align: center;
}


.profile-pic {
	width: 200px;
	height: 200px;
}

.sidebar-links{
	margin-top: 30px;
}

.sidebar-links a {
	text-decoration: none;
	color: #9e9e9e;
}

.sidebar-links a:hover {
	color: #757575;
}

.feedback-card-title{
	font-size: 18px;
	color: #757575;
}

.feedback-input-textarea textarea {
	resize: vertical;
	height: 200px;
	border: 1px solid #e0e0e0;
}

.feedback-padding {
	padding-left: 25px;
	padding-right: 25px;
}

.feedback-profile-pick {
	width: 100px;
	height: 100px;
}

table tbody tr td h6 {
	font-size: 18px;
}